@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');



body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

header {
    background-color: #1f2937;
    color: white;
    display: flex;
    padding: 32px;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.header-links {
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    padding-left: 33px;
    font-weight: 900;
}

.introduction {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    padding: 33px;
    justify-content: space-between;
    padding-bottom: 100px;
}

.subtext {
    color: #f9faf8a8;
    padding-left: 33px;
    padding-right: 64px;
}

.placeholder {
    height: 200px;
}

.sign-up {
    width: 88px;
    height: 40px;
    padding: 10px;
    flex-shrink: 0;
    font-weight: 600;
    background-color: rgb(105, 105, 239);
    color: white;
    border-radius: 10px;
    margin-left: 32px;
}

.information {
    display: flex;
    justify-content: center;
    gap: 33px;
    margin-bottom: 44px;
}

.card-text {
    max-width: 200px;
}

.card-header {

    display: flex;
    font-size: 36px;
    font-weight: 900;
    justify-content: center;
    margin-bottom: 32px;
}


.quote {
    display: flex;
    flex-direction: column;
    padding: 120px;
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 34px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.signup {
    padding: 120px;
    display: flex;
    justify-content: center;
}

.signup-container {
    display: flex;
    width: 600px;
    background-color: rgb(105, 105, 239);
    padding: 60px;
    border-radius: 20px;
    align-items: center;
}

.sign-up-button {
    width: 88px;
    height: 35px;
    padding: 6px;
    flex-shrink: 0;
    font-weight: 600;
    background-color: rgb(105, 105, 239);
    color: white;
    border-radius: 10px;
    margin-left: 32px;
    border-color: #F9FAF8;
    border: solid;

}

footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}